<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>
        <config>
            <section name="apiSettings">
                <conf name="appleClientId">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="appleTeamId">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="appleKeyId">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="applePrivateKey">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>
        </config>

        <window name="frontend-users">
            <title>
                <locale group="quiqqer/frontend-users" var="menu.title"/>
            </title>
            <params>
                <icon>fa fa-cogs</icon>
            </params>

            <!--
            <title>
                <locale group="quiqqer/authapple" var="settings.title"/>
            </title>
            <params>
                <icon>fa fa-brands fa-apple</icon>
            </params>
            -->

            <categories>
                <category name="apple-auth-settings" index="10">
                    <text>
                        <!--<locale group="quiqqer/authapple" var="settings.category.settings.title"/>-->
                        <locale group="quiqqer/authapple" var="settings.title"/>
                    </text>
                    <icon>fa fa-brands fa-apple</icon>

                    <settings title="apiSettings" name="apiSettings">
                        <title>
                            <locale group="quiqqer/authapple" var="settings.apiSettings.title"/>
                        </title>

                        <input conf="apiSettings.appleClientId" type="text">
                            <text>
                                <locale group="quiqqer/authapple" var="settings.apiSettings.clientId.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/authapple" var="settings.apiSettings.clientId.description"/>
                            </description>
                        </input>

                        <input conf="apiSettings.appleTeamId" type="text">
                            <text>
                                <locale group="quiqqer/authapple" var="settings.apiSettings.teamId.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/authapple" var="settings.apiSettings.teamId.description"/>
                            </description>
                        </input>

                        <input conf="apiSettings.appleKeyId" type="text">
                            <text>
                                <locale group="quiqqer/authapple" var="settings.apiSettings.keyId.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/authapple" var="settings.apiSettings.keyId.description"/>
                            </description>
                        </input>

                        <textarea conf="apiSettings.applePrivateKey" type="text">
                            <text>
                                <locale group="quiqqer/authapple" var="settings.apiSettings.privateKey.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/authapple" var="settings.apiSettings.privateKey.description"/>
                            </description>
                        </textarea>
                    </settings>
                </category>
            </categories>
        </window>
    </settings>
</quiqqer>