.quiqqer-auth-apple-registration {
    color: #fff;
    background: #000;
    border-color: #000;

    --qui-btn-color: #fff;
    --qui-btn-bgColor: #000;
    --qui-btn-borderColor: #000;

    --qui-btn-color--hover: #fff;
    --qui-btn-bgColor--hover: #1C1C1E;
    --qui-btn-borderColor--hover: #1C1C1E;
}

.quiqqer-auth-apple-registration:hover {
    background: #1C1C1E !important;
}
